src/main/resources/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="person" type="PersonType"/>

    <xs:complexType name="PersonType">
        <xs:sequence>
            <xs:element name="titleId" type="xs:int"/>
            <xs:element name="fullName" type="xs:string"/>
            <xs:element name="dateOfBirth" type="xs:date"/>
            <xs:element name="gender" type="xs:string"/>
            <xs:element name="address" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="phoneNumber" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>